button {
    font-size: 1.2rem;
    transform: translateY(-60px);
    padding: 20px 120px;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    color: #fff;
    background-color: rgb(165, 165, 235);
    transition: all 0.5s;
}
button:hover {
    background-color: #fff;
    color: rgb(165, 165, 235);
}